<h4>Usuarios Conectados</h4>
<hr>
<ul class="list-group">
    <li class="list-group-item"
        *ngIf="(this.webSocketService.usuariosActivos)?.length === 0 || !this.webSocketService.socketStatus">
        <span class="text-danger"><i class="fa fa-exclamation-triangle"></i> Ningún usuario conectado</span>
    </li>
</ul>
<ul class="list-group"
    *ngIf="this.webSocketService.socketStatus">
    <li class="list-group-item bg-white"
        *ngFor="let usuario of this.webSocketService.usuariosActivos">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 align-content-start"><i class="fa fa-user"></i>&nbsp;{{usuario.nombre}}</h5>
            <!-- <small class="text-secondary">@{{usuario.username}}</small> -->
            <h6 class="text-info font-weight-bold">{{usuario.username}}</h6>
        </div>
        <!-- <small>{{usuario.email}} </small> -->
        <!-- <span class="badge badge-info">{{usuario.id}}</span> -->
    </li>
</ul>
