<h4>Usuarios Conectados</h4>
<hr>
<ul class="list-group">
    <li class="list-group-item"
        *ngIf="(this.webSocketService.usuariosActivos)?.length === 0 || !this.webSocketService.socketStatus">
        <span class="text-danger"><i class="fa fa-exclamation-triangle"></i> Ningún usuario conectado</span>
    </li>
</ul>
<ul class="list-group"
    *ngIf="this.webSocketService.socketStatus">
    <li class="list-group-item"
        *ngFor="let usuario of this.webSocketService.usuariosActivos">
        <i class="fa fa-user"></i> {{usuario.nombre}}
        <span class="badge badge-info">{{usuario.id}}</span>
    </li>
</ul>
